body {
    background-color: rgb(237, 234, 234);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    color: #4D4D4D;
    font-size: 70px;
    margin: 5px;
    font-family: "Noticia Text", bold;
}

h2 {
    color: #4D4D4D;
    /* font-size: 90px; */
    margin: 5px;
    font-family: "Noticia Text", bold;
}

h4 {
    color: #6c757d;
    font-size: 40px;
    margin: 0px;
    font-family: "Noticia Text", bold;
}

h3 {
    color: #6c757d;
    /* font-size: 52px; */
    font-family: "Noticia Text";
    margin: 5px;
    /* font-family: "Open Sans"; */
}

main {
    margin-bottom: 20px;
    margin-top: -20px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  /*--------------------------------------------------*/
/*  Header   */

.landing-menu-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 50px 50px 50px 0px;
}

/*--------------------------------------------------*/
/*  Navbar   */

.nav {
    color: #4D4D4D;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav .row {
    margin-left: 250px;
}

.nav-link {
    font-family: "Noticia Text", bold;
    font-size: 20px;
    color: #4D4D4D;
    padding: 5px;
}

a:hover {
    color: #61D0D4;
    text-decoration: none #61D0D4;
}
.row {
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 5px 10px;
}

/*--------------------------------------------------*/
/***************************************************************************/
/*  Project Buttons     */

.projects-container {
margin-left: 5%;
margin-top: 10%;
}

.project-container {
    display: inline-flex;
    margin-right: 50px;
}

.paragraph-container {
    align-items: center;
}

.btn-collection {
    padding: 50px;
    display: flex;
    justify-items: baseline;
}

.btn-group {
    align-items: center;
}

.labmanager-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    line-height: 8.00;
    border-radius: 99px;
    background-color: #E83556;
    color: #FFFFFF;
    font-size: 10px;
}

.labmanager-btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both;
    background-color: #E83556;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-flow: wrap;
}

.gamecloset-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    line-height: 8.00;
    border-radius: 99px;
    background-color: #61D0D4;
    color: #FFFFFF;
    font-size: 10px;
}

.gamecloset-btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both;
    background-color: #61D0D4;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-flow: wrap;
}

.bangazonsite-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    line-height: 8.00;
    border-radius: 99px;
    background-color: #E83556;
    color: #FFFFFF;
    font-size: 10px;
}

.bangazonsite-btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both;
    background-color: #E83556;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-flow: wrap;
}


.bangazonworkforce-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    line-height: 8.00;
    border-radius: 99px;
    background-color: #D1C926;
    color: #FFFFFF;
    font-size: 10px;
    /* display: flex; */
}

.paragraph{
    margin-left: 0px;
    padding: 0px;
    text-align: center;
}

.bangazonworkforce-btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both;
    background-color: #D1C926;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-flow: wrap;
}

.nutshellreact-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    line-height: 8.00;
    border-radius: 99px;
    background-color: #E83556;
    color: #FFFFFF;
    font-size: 10px;
}

.nutshellreact-btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both;
    background-color: #E83556;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-flow: wrap;
}